<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>Uchat Unavailable</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
        <link rel="shortcut icon" href="/static/favicon.ico">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <!-- CSS Vodi Template -->
    <link rel="stylesheet" href="/static/assets/css/theme.css">
</head>
<body>
    <div class="position-relative min-h-270rem mb-2d mr-xl-3">
    </div>
    <div class="position-relative min-h-270rem mb-2d mr-xl-3">
    </div>
    <div class="position-relative min-h-270rem mb-2d mr-xl-3">
        <h5 class="font-size-21 text-dark font-weight-medium" align="middle">NO ROOMS AVAILABLE</h5>
    </div>
</body>
</html>