<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>김준석</title>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>good</h1>
    {{ data1 }} <br>
    {{ data2 }} <br>
    {% for i in data3 %}
        {{ i }}
    {% endfor %}
<div class="row">
    <div class="col-md-01 col-md-01">.col-md-8 .col-md-01</div>
    <div class="col-md-04">.col-md-4</div>
</div>
</body>
</html>