async-timeout==3.0.1
Authlib @ file:///tmp/build/80754af9/authlib_1603204717759/work
brotlipy==0.7.0
certifi==2020.11.8
cffi @ file:///C:/ci/cffi_1606255208697/work
chardet @ file:///C:/ci/chardet_1605303225733/work
click==7.1.2
cryptography @ file:///C:/ci/cryptography_1605526388508/work
Flask==1.1.2
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
PyJWT==1.7.1
PyMySQL @ file:///C:/ci/pymysql_1601579814119/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1606517880428/work
PySocks @ file:///C:/ci/pysocks_1605287845585/work
pytz==2020.1
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1592425495151/work
simplejson @ file:///C:/ci/simplejson_1598607882059/work
six @ file:///C:/ci/six_1605187374963/work
uritemplate==3.0.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1603305693037/work
Werkzeug==1.0.1
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
wincertstore==0.2

pymysql~=0.10.1
requests~=2.24.0
authlib~=0.15.2