<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>9조 Website Template</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
        <link rel="shortcut icon" href="/static/favicon.ico">


    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/static/assets/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/dzsparallaxer/dzsparallaxer.css">
    <link rel="stylesheet" href="/static/assets/vendor/cubeportfolio/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/aos/dist/aos.css">
    <link rel="stylesheet" href="/static/assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/static/assets/vendor/fancybox/dist/jquery.fancybox.css">

    <!-- CSS Vodi Template -->
    <link rel="stylesheet" href="/static/assets/css/theme.css">
</head>
<body>
    <!-- ========== HEADER ========== -->
    <header id="header" class="header left-aligned-navbar"
        data-hs-header-options='{
            "fixMoment": 1000,
            "fixEffect": "slide"
        }'>
        <div class="header-section shadow-soft">
            <div id="logoAndNav" class="container-fluid px-md-5">
                <!-- Nav -->
                <nav class="js-mega-menu navbar navbar-expand-xl py-0 position-static justify-content-start">
                    <!-- Responsive Toggle Button -->
                    <button type="button" class="navbar-toggler btn btn-icon btn-sm rounded-circle mr-2"
                        aria-label="Toggle navigation"
                        aria-expanded="false"
                        aria-controls="navBar"
                        data-toggle="collapse"
                        data-target="#navBar">
                        <span class="navbar-toggler-default">
                            <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                <path fill="currentColor" d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z"/>
                            </svg>
                        </span>
                        <span class="navbar-toggler-toggled">
                            <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
                            </svg>
                        </span>
                    </button>
                    <!-- End Responsive Toggle Button -->

                    <!-- Unfold (Sidebar) -->
                    <div class="hs-unfold d-none d-xl-block">
                        <a class="js-hs-unfold-invoker mr-4" href="javascript:;"
                            data-hs-unfold-options='{
                                "target": "#sidebarContent",
                                "type": "css-animation",
                                "animationIn": "fadeInLeft",
                                "animationOut": "fadeOutLeft",
                                "hasOverlay": "rgba(55, 125, 255, 0.1)",
                                "smartPositionOff": true
                            }'><svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" style="fill: #97979f;"><path d="M0 13L0 11.4 16 11.4 16 13 0 13ZM0 5.7L16 5.7 16 7.3 0 7.3 0 5.7ZM0 0L16 0 16 1.6 0 1.6 0 0Z"></path></svg>
                        </a>
                    </div>
                    <!-- End Unfold (Sidebar) -->

                    <!-- Logo -->
                    <a class="navbar-brand w-auto mr-xl-5 mr-wd-8" href="/" aria-label="Vodi">
                        <svg version="1.1" width="103" height="40px">
                            <linearGradient id="vodi-gr" x1="0%" y1="0%" x2="100%" y2="0%">
                                <stop offset="0" style="stop-color:#2A4999"></stop>
                                <stop offset="1" style="stop-color:#2C9CD4"></stop>
                            </linearGradient>
                            <g class="vodi-gr">
                                <path class="vodi-svg0" d="M72.8,12.7c0-2.7,0-1.8,0-4.4c0-0.9,0-1.8,0-2.8C73,3,74.7,1.4,77,1.4c2.3,0,4.1,1.8,4.2,4.2c0,1,0,2.1,0,3.1
                                c0,6.5,0,9.4,0,15.9c0,4.7-1.7,8.8-5.6,11.5c-4.5,3.1-9.3,3.5-14.1,0.9c-4.7-2.5-7.1-6.7-7-12.1c0.1-7.8,6.3-13.6,14.1-13.2
                                c0.7,0,1.4,0.2,2.1,0.3C71.3,12.2,72,12.4,72.8,12.7z M67.8,19.8c-2.9,0-5.2,2.2-5.2,5c0,2.9,2.3,5.3,5.2,5.3
                                c2.8,0,5.2-2.4,5.2-5.2C73,22.2,70.6,19.8,67.8,19.8z
                                M39.9,38.6c-7.3,0-13.3-6.1-13.3-13.5c0-7.5,5.9-13.4,13.4-13.4c7.5,0,13.4,6,13.4,13.5
                                C53.4,32.6,47.4,38.6,39.9,38.6z M39.9,30.6c3.2,0,5.6-2.3,5.6-5.6c0-3.2-2.3-5.5-5.5-5.5c-3.2,0-5.6,2.2-5.6,5.4
                                C34.4,28.2,36.7,30.6,39.9,30.6z
                                M14.6,27c0.6-1.4,1.1-2.6,1.6-3.8c1.2-2.9,2.5-5.8,3.7-8.8c0.7-1.7,2-2.8,4-2.7c3,0,4.9,2.6,3.8,5.4
                                c-0.5,1.3-1.2,2.6-1.8,3.9c-2.4,5-4.9,10-7.3,15c-0.8,1.6-2,2.6-3.9,2.6c-2,0-3.3-0.8-4.2-2.6c-2.7-5.6-5.3-11.1-8-16.7
                                c-0.3-0.7-0.6-1.3-0.9-2c-0.8-1.8-0.3-3.7,1.1-4.8c1.5-1.2,4-1.3,5.3,0c0.7,0.6,1.2,1.5,1.6,2.3C11.3,18.8,12.9,22.7,14.6,27z
                                M90.9,25.1c0,3.1,0,6.2,0,9.4c0,1.9-1.2,3.4-2.9,4c-1.7,0.5-3.5,0-4.5-1.6c-0.5-0.8-0.8-1.8-0.8-2.6
                                c-0.1-6.1-0.1-11.3,0-17.5c0-2.2,1.5-3.9,3.5-4.2c2.1-0.3,4.1,0.9,4.7,2.9c0.1,0.5,0.2,1.1,0.2,1.6C90.9,20,90.9,22.1,90.9,25.1
                                C90.9,25.1,90.9,25.1,90.9,25.1z
                                M90.2,4.7L86,2.3c-1.3-0.8-3,0.2-3,1.7v4.8c0,1.5,1.7,2.5,3,1.7l4.2-2.4C91.5,7.4,91.5,5.5,90.2,4.7z"></path>
                            </g>
                        </svg>
                    </a>
                    <!-- End Logo -->

                    <!-- Navigation -->
                    <div id="navBar" class="collapse navbar-collapse order-1 order-xl-0">
                        <div class="navbar-body header-abs-top-inner">
                            <ul class="navbar-nav">
                                <!-- 방생성 -->
                                <li class="hs-has-sub-menu navbar-nav-item">
                                    <a id="pagesMegaMenu" class="hs-mega-menu-invoker nav-link nav-link-toggle font-secondary" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="pagesSubMenu">Create Room</a>
                                    <!-- 방생성 - Submenu -->
                                    <div id="pagesSubMenu" class="hs-sub-menu dropdown-menu" aria-labelledby="pagesMegaMenu">
                                        <a class="dropdown-item font-size-14" href={{ url_for('movie', hash_url=code) }}>Create</a>
                                    </div>
                                    <!-- End Submenu -->
                                </li>
                                <!-- End 방생성 -->
                                <!-- 방참여 -->
                                <li class="hs-has-sub-menu navbar-nav-item">
                                    <a id="blogMegaMenu" class="hs-mega-menu-invoker nav-link nav-link-toggle font-secondary" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="blogSubMenu">Join Room</a>
                                    <!-- Blog - Submenu -->
                                    <div id="blogSubMenu" class="hs-sub-menu dropdown-menu" aria-labelledby="blogMegaMenu" style="min-width: 230px;">
                                        <a class="dropdown-item" href="javascript:;" data-toggle="modal" data-target="#codeModal">Insert Code</a>
                                    </div>
                                    <!-- End Submenu -->
                                </li>
                                <!-- End 방참여 -->
                            </ul>
                        </div>
                    </div>
                    <!-- End Navigation -->
                    <div class="d-flex align-items-center ml-auto">
                        <div class="d-inline-flex ml-md-5">
                            <ul class="d-flex list-unstyled mb-0 align-items-center">
                                <div class="font-size-15 flex-shrink-0 flex-shrink-md-1">{{ session['email'] }}</div>
                                <li class="col pr-xl-0 px-2 px-sm-3">
                                    <!-- Unfold (Dropdown) -->
                                    <div class="hs-unfold">
                                        <a class="js-hs-unfold-invoker dropdown-nav-link dropdown-toggle py-4 position-relative d-flex align-items-center" href="javascript:;"
                                            data-hs-unfold-options='{
                                                "target": "#basicDropdownHover",
                                                "type": "css-animation",
                                                "event": "click"
                                            }'>
                                            <svg width="32px" height="32px">
                                                <image x="0px" y="0px" width="32px" height="32px" xlink:href="{{ session['picture']}}">
                                            </svg>

                                        </a>
                                        <div id="basicDropdownHover" class="hs-unfold-content dropdown-menu my-account-dropdown">
                                            <a class="dropdown-item" href={{ url_for('logout') }}>Sign out</a>
                                        </div>
                                    </div>
                                    <!-- End Unfold (Dropdown) -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- End Nav -->
            </div>
        </div>
    </header>
    <!-- ========== END HEADER ========== -->

    <!-- ========== MAIN CONTENT ========== -->
    <main id="content">
        <div class="container px-md-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:;" data-toggle="modal" data-target="#playlistModal">Playlist</a></li>
                    {% for i in playlists %}
                        {% if i['id'] == play %}
                            <li class="breadcrumb-item">{{ i['snippet']['title']}} </li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </nav>
            <div class="row mb-4">
                <div class="col-md-8 col-xl-9 mb-4">
                    <div class="position-relative min-h-270rem mb-2d mr-xl-3">
                        {% if play %}
                            {% if not items %}
                                <h5 class="font-size-21 text-dark font-weight-medium" align="middle">Add Videos</h5>
                            {% else %}
                                {% if not selected %}
                                <iframe class="position-absolute w-100 h-lg-down-100 position-xl-relative top-0 bottom-0 w-100" height="620" src="https://www.youtube.com/embed/{{ items[0]['snippet']['resourceId']['videoId'] }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                {% else %}
                                <iframe class="position-absolute w-100 h-lg-down-100 position-xl-relative top-0 bottom-0 w-100" height="620" src="https://www.youtube.com/embed/{{ selected['snippet']['resourceId']['videoId'] }}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                {% endif %}
                            {% endif %}
                        {% else %}
                        <div class="position-relative min-h-270rem mb-2d mr-xl-3">
                            <h5 class="font-size-21 text-dark font-weight-medium" align="middle"><a href="javascript:;" data-toggle="modal" data-target="#playlistModal">Select a playlist</a></h5>
                        </div>
                        {% endif %}
                    </div>
                    {% if items %}
                    <div class="mr-xl-3">
                        {% if not selected %}
                        <div class="mb-2">
                            <h5 class="font-size-21 text-dark font-weight-medium">{{ items[0]['snippet']['title'] }}</h5>
                        </div>
                        <div class="font-size-12 mb-4">
                            <span class="d-inline-flex text-gray-1300 align-items-center mr-3">{{ items[0]['snippet']['publishedAt'] }}</span>
                        </div>
                        {% else %}
                            <div class="mb-2">
                            <h5 class="font-size-21 text-dark font-weight-medium">{{ selected['snippet']['title'] }}</h5>
                        </div>
                        <div class="font-size-12 mb-4">
                            <span class="d-inline-flex text-gray-1300 align-items-center mr-3">{{ selected['snippet']['publishedAt'] }}</span>
                        </div>
                        {% endif %}
                        <nav class="js-scroll-nav">
                            <div class="space-1 position-relative d-flex">
                                <a class="nav-link mx-auto px-6 py-2d font-size-14 h-g1-primary z-index-2 border border-gray-3600 rounded-pill bg-white " href="#leave-comment"><i class="far fa-comment mr-2"></i>Search Videos</a>
                                <div class="border-top content-centered w-100 border-gray-3600"></div>
                            </div>
                        </nav>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-4 col-xl-3">
                    <script async src="//client.uchat.io/uchat.js"></script>
                    <u-chat room={{ uchatroom }} >
                        <script>U=window.U=window.U||{},U.events=U.events||[],U.chat=function(n){return{on:function(e,t){U.events.push([n,e,t])},off:function(e){for(var t=U.events.length;t>0;)U.events[--t][0]==n&&U.events[t][1]==e&&U.events.splice(t,1)}}};</script>
                        <script>
                        U.chat('*').on('after.join', function(room, data){
                        room.action.command('changeInfo', { 'nick': 'Xin' });
                        });
                        </script>
                    </u-chat>
                </div>
            </div>

            <section class="mb-5">
                <div class="d-flex align-items-center mb-4">
                    <h2 class="font-size-18 font-weight-medium text-gray-700 mb-0">Videos in playlist</h2>
                    <div class="border-top col p-0 ml-3 border-gray-3600"></div>
                </div>
                <div class="row row-cols-2 row-cols-xl-5">
                    {% for videos in items %}
                    <div class="col mb-3">
                        <div class="product">
                            <div class="product-image mb-2 pb-1">
                                <a class="d-block position-relative stretched-link" href={{ url_for('change_playlist', url=request.url, select=videos) }}>
                                    <img class="img-fluid" src={{ videos['snippet']['thumbnails']['medium']['url'] }} alt="Image-Description">
                                </a>
                            </div>
                            <h6 class="product-title font-size-1 font-weight-bold mb-0">
                                <a href="아직안만듬">{{ videos['snippet']['title'] }}</a>
                            </h6>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>

            <div class="space-1">
                <div id="leave-comment" class="d-flex align-items-center mb-4">
                    <h2 class="font-size-18 font-weight-medium text-gray-700 mb-0">Search videos</h2>
                    <div class="border-top col p-0 ml-3 border-gray-3600"></div>
                </div>
                <form action="#" method="post" id="commentform" class="comment-form mb-6" novalidate="">
                    <div class="form-group">
                        <label class="input-label" for="exampleFormControlTextarea1">Your comment <span class="required">*</span></label>
                        <textarea id="exampleFormControlTextarea1" class="form-control" rows="8"></textarea>
                        <button class="btn btn-primary mt-4 px-4" type="button" name="button">SUBMIT</button>
                    </div>
                </form>
                <p>There are no comments yet.</p>
            </div>
        </div>
    </main>
    <!-- ========== END MAIN CONTENT ========== -->

    <!-- ========== FOOTER ========== -->
    <footer class="">
        <div class="bg-gray-4000">
            <div class="container px-md-5">
                <div class="d-flex flex-wrap align-items-center pt-6 pb-3d border-bottom mb-7 border-gray-4100">
                    <a href="#" class="mb-4 mb-md-0 mr-auto">
                        <svg version="1.1" width="92" height="40px">
                            <g fill="#fff">
                                <path class="vodi-svg0" d="M72.8,12.7c0-2.7,0-1.8,0-4.4c0-0.9,0-1.8,0-2.8C73,3,74.7,1.4,77,1.4c2.3,0,4.1,1.8,4.2,4.2c0,1,0,2.1,0,3.1
                                c0,6.5,0,9.4,0,15.9c0,4.7-1.7,8.8-5.6,11.5c-4.5,3.1-9.3,3.5-14.1,0.9c-4.7-2.5-7.1-6.7-7-12.1c0.1-7.8,6.3-13.6,14.1-13.2
                                c0.7,0,1.4,0.2,2.1,0.3C71.3,12.2,72,12.4,72.8,12.7z M67.8,19.8c-2.9,0-5.2,2.2-5.2,5c0,2.9,2.3,5.3,5.2,5.3
                                c2.8,0,5.2-2.4,5.2-5.2C73,22.2,70.6,19.8,67.8,19.8z
                                M39.9,38.6c-7.3,0-13.3-6.1-13.3-13.5c0-7.5,5.9-13.4,13.4-13.4c7.5,0,13.4,6,13.4,13.5
                                C53.4,32.6,47.4,38.6,39.9,38.6z M39.9,30.6c3.2,0,5.6-2.3,5.6-5.6c0-3.2-2.3-5.5-5.5-5.5c-3.2,0-5.6,2.2-5.6,5.4
                                C34.4,28.2,36.7,30.6,39.9,30.6z
                                M14.6,27c0.6-1.4,1.1-2.6,1.6-3.8c1.2-2.9,2.5-5.8,3.7-8.8c0.7-1.7,2-2.8,4-2.7c3,0,4.9,2.6,3.8,5.4
                                c-0.5,1.3-1.2,2.6-1.8,3.9c-2.4,5-4.9,10-7.3,15c-0.8,1.6-2,2.6-3.9,2.6c-2,0-3.3-0.8-4.2-2.6c-2.7-5.6-5.3-11.1-8-16.7
                                c-0.3-0.7-0.6-1.3-0.9-2c-0.8-1.8-0.3-3.7,1.1-4.8c1.5-1.2,4-1.3,5.3,0c0.7,0.6,1.2,1.5,1.6,2.3C11.3,18.8,12.9,22.7,14.6,27z
                                M90.9,25.1c0,3.1,0,6.2,0,9.4c0,1.9-1.2,3.4-2.9,4c-1.7,0.5-3.5,0-4.5-1.6c-0.5-0.8-0.8-1.8-0.8-2.6
                                c-0.1-6.1-0.1-11.3,0-17.5c0-2.2,1.5-3.9,3.5-4.2c2.1-0.3,4.1,0.9,4.7,2.9c0.1,0.5,0.2,1.1,0.2,1.6C90.9,20,90.9,22.1,90.9,25.1
                                C90.9,25.1,90.9,25.1,90.9,25.1z
                                M90.2,4.7L86,2.3c-1.3-0.8-3,0.2-3,1.7v4.8c0,1.5,1.7,2.5,3,1.7l4.2-2.4C91.5,7.4,91.5,5.5,90.2,4.7z"></path>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="row pb-5">
                </div>
            </div>
        </div>
        <div class="bg-gray-4300">
            <div class="container px-md-5">
                <div class="text-center d-md-flex flex-wrap align-items-center py-3">
                    <p class="font-size-13 text-gray-6800 mx-auto mb-0">Copyright © 2020, Vodi. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- ========== END FOOTER ========== -->

    <!-- ========== SECONDARY CONTENTS ========== -->
    <!-- JoinCode Modal -->
    <div class="modal fade" id="codeModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <button type="button" class="close position-absolute top-0 right-0 z-index-2 mt-3 mr-3" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" class="mb-0" width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                        <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"></path>
                    </svg>
                </button>
                <!-- Body -->
                <div class="modal-body">
                    <form class="js-validate" action="/join" method="POST">
                        <!-- Input Group -->
                        <div class="js-form-message mb-3">
                            <label class="input-label">Insert Code</label>
                            <div class="input-group input-group-sm mb-2">
                                <input type="text" class="form-control" name="code" id="joincode" placeholder="code" aria-label="code" required
                                data-msg="Your code is invalid. Please try again.">
                            </div>
                        </div>
                        <!-- End Input Group -->
                        <div class="mb-3">
                            <button type="submit" class="btn btn-sm btn-primary btn-block">Join Room</button>
                        </div>
                    </form>
                </div>
                <!-- End Body -->
            </div>
        </div>
    </div>
    <!-- End JoinCode Modal -->
    <!-- playlist Modal -->
    <div class="modal fade" id="playlistModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <button type="button" class="close position-absolute top-0 right-0 z-index-2 mt-3 mr-3" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" class="mb-0" width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                        <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"></path>
                    </svg>
                </button>
                <!-- Body -->
                <div class="modal-body">
                    <form class="js-validate" action={{ url_for('change_playlist', url=request.url) }} method="POST">
                        <!-- Input Group -->
                        <div class="js-form-message mb-3">
                            <label class="input-label">Select Playlist</label>
                            <div class="input-group input-group-sm mb-2">
                                <select name="playlist" id="playlist" required data-msg="Your code is invalid. Please try again.">
                                    <option value="">select</option>
                                    {% for i in playlists %}
                                    <option value={{ i['id'] }}>{{ i['snippet']['title'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- End Input Group -->
                        <div class="mb-3">
                            <button type="submit" class="btn btn-sm btn-primary btn-block">change playlist</button>
                        </div>
                    </form>
                </div>
                <!-- End Body -->
            </div>
        </div>
    </div>
    <!-- End playlist Modal -->

    <!-- Sidebar Navigation -->
    <aside id="sidebarContent" class="hs-unfold-content sidebar sidebar-left off-canvas-menu">
        <div class="sidebar-scroller">
            <div class="sidebar-container">
                <div class="sidebar-footer-offset" style="padding-bottom: 7rem;">
                    <!-- Toggle Button -->
                    <div class="d-flex justify-content-end align-items-center py-2 px-4 border-bottom">
                        <!-- Logo -->
                        <a class="navbar-brand mr-auto" href="/" aria-label="Vodi">
                            <svg version="1.1" width="103" height="40px">
                                <linearGradient id="vodi-gr6" x1="0%" y1="0%" x2="100%" y2="0%">
                                    <stop offset="0" style="stop-color:#2A4999"></stop>
                                    <stop offset="1" style="stop-color:#2C9CD4"></stop>
                                </linearGradient>
                                <g class="vodi-gr">
                                    <path class="vodi-svg0" d="M72.8,12.7c0-2.7,0-1.8,0-4.4c0-0.9,0-1.8,0-2.8C73,3,74.7,1.4,77,1.4c2.3,0,4.1,1.8,4.2,4.2c0,1,0,2.1,0,3.1
                                    c0,6.5,0,9.4,0,15.9c0,4.7-1.7,8.8-5.6,11.5c-4.5,3.1-9.3,3.5-14.1,0.9c-4.7-2.5-7.1-6.7-7-12.1c0.1-7.8,6.3-13.6,14.1-13.2
                                    c0.7,0,1.4,0.2,2.1,0.3C71.3,12.2,72,12.4,72.8,12.7z M67.8,19.8c-2.9,0-5.2,2.2-5.2,5c0,2.9,2.3,5.3,5.2,5.3
                                    c2.8,0,5.2-2.4,5.2-5.2C73,22.2,70.6,19.8,67.8,19.8z
                                    M39.9,38.6c-7.3,0-13.3-6.1-13.3-13.5c0-7.5,5.9-13.4,13.4-13.4c7.5,0,13.4,6,13.4,13.5
                                    C53.4,32.6,47.4,38.6,39.9,38.6z M39.9,30.6c3.2,0,5.6-2.3,5.6-5.6c0-3.2-2.3-5.5-5.5-5.5c-3.2,0-5.6,2.2-5.6,5.4
                                    C34.4,28.2,36.7,30.6,39.9,30.6z
                                    M14.6,27c0.6-1.4,1.1-2.6,1.6-3.8c1.2-2.9,2.5-5.8,3.7-8.8c0.7-1.7,2-2.8,4-2.7c3,0,4.9,2.6,3.8,5.4
                                    c-0.5,1.3-1.2,2.6-1.8,3.9c-2.4,5-4.9,10-7.3,15c-0.8,1.6-2,2.6-3.9,2.6c-2,0-3.3-0.8-4.2-2.6c-2.7-5.6-5.3-11.1-8-16.7
                                    c-0.3-0.7-0.6-1.3-0.9-2c-0.8-1.8-0.3-3.7,1.1-4.8c1.5-1.2,4-1.3,5.3,0c0.7,0.6,1.2,1.5,1.6,2.3C11.3,18.8,12.9,22.7,14.6,27z
                                    M90.9,25.1c0,3.1,0,6.2,0,9.4c0,1.9-1.2,3.4-2.9,4c-1.7,0.5-3.5,0-4.5-1.6c-0.5-0.8-0.8-1.8-0.8-2.6
                                    c-0.1-6.1-0.1-11.3,0-17.5c0-2.2,1.5-3.9,3.5-4.2c2.1-0.3,4.1,0.9,4.7,2.9c0.1,0.5,0.2,1.1,0.2,1.6C90.9,20,90.9,22.1,90.9,25.1
                                    C90.9,25.1,90.9,25.1,90.9,25.1z
                                    M90.2,4.7L86,2.3c-1.3-0.8-3,0.2-3,1.7v4.8c0,1.5,1.7,2.5,3,1.7l4.2-2.4C91.5,7.4,91.5,5.5,90.2,4.7z"></path>
                                </g>
                            </svg>
                        </a>
                        <!-- End Logo -->
                        <div class="hs-unfold">
                            <a class="js-hs-unfold-invoker btn btn-icon btn-xs btn-soft-secondary" href="javascript:;"
                                data-hs-unfold-options='{
                                    "target": "#sidebarContent",
                                    "type": "css-animation",
                                    "animationIn": "fadeInLeft",
                                    "animationOut": "fadeOutLeft",
                                    "hasOverlay": "rgba(55, 125, 255, 0.1)",
                                    "smartPositionOff": true
                                }'>
                                <svg width="10" height="10" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                    <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <!-- End Toggle Button -->

                    <!-- Content -->
                    <div class="scrollbar sidebar-body">
                        <div class="sidebar-content py-4">
                            <!-- Sidebar Navbar -->
                            <div class="">
                                <div id="sidebarNavExample3" class="collapse show navbar-collapse">
                                    <!-- Nav Link -->
                                    <div class="sidebar-body_inner">
                                        <div class="position-relative">
                                            <a class="dropdown-nav-link dropdown-toggle dropdown-toggle-collapse" href="javascript:;" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="sidebarNav1Collapse" data-target="#sidebarNav1Collapse">
                                                Create Room
                                            </a>
                                            <div id="sidebarNav1Collapse" class="collapse" data-parent="#sidebarNavExample3">
                                                <div id="sidebarNav1" class="navbar-nav align-items-start flex-column">
                                                    <a class="dropdown-item"  href={{ url_for('movie', hash_url=code) }}>Create</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="position-relative">
                                            <a class="dropdown-nav-link dropdown-toggle dropdown-toggle-collapse" href="javascript:;" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="sidebarNav2Collapse" data-target="#sidebarNav2Collapse">
                                                Join Room
                                            </a>

                                            <div id="sidebarNav2Collapse" class="collapse" data-parent="#sidebarNavExample3">
                                                <div id="sidebarNav2" class="navbar-nav align-items-start flex-column">
                                                    <a class="dropdown-item" href="javascript:;" data-toggle="modal" data-target="#codeModal">Insert Code</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Nav Link -->
                                    </div>
                                </div>
                            </div>
                            <!-- End Sidebar Navbar -->
                        </div>
                    </div>
                    <!-- End Content -->
                </div>
            </div>
        </div>
    </aside>
    <!-- End Sidebar Navigation -->
    <!-- ========== END SECONDARY CONTENTS ========== -->

    <!-- Go to Top -->
    <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
        data-hs-go-to-options='{
            "offsetTop": 700,
            "position": {
                "init": {
                    "right": 15
                },
                "show": {
                    "bottom": 15
                },
                "hide": {
                    "bottom": -15
                }
            }
        }'>
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- End Go to Top -->

    <!-- JS Global Compulsory -->
    <script src="/static/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/static/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="/static/assets/vendor/hs-header/dist/hs-header.min.js"></script>
    <script src="/static/assets/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
    <script src="/static/assets/vendor/hs-unfold/dist/hs-unfold.min.js"></script>
    <script src="/static/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
    <script src="/static/assets/vendor/hs-show-animation/dist/hs-show-animation.min.js"></script>
    <script src="/static/assets/vendor/hs-sticky-block/dist/hs-sticky-block.min.js"></script>
    <script src="/static/assets/vendor/hs-counter/dist/hs-counter.min.js"></script>
    <script src="/static/assets/vendor/appear.js"></script>
    <script src="/static/assets/vendor/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script src="/static/assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/static/assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="/static/assets/vendor/aos/dist/aos.js"></script>
    <script src="/static/assets/vendor/slick-carousel/slick/slick.js"></script>
    <script src="/static/assets/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="/static/assets/vendor/hs-scroll-nav/dist/hs-scroll-nav.min.js"></script>

    <!-- JS Vodi -->
    <script src="/static/assets/js/hs.core.js"></script>
    <script src="/static/assets/js/hs.validation.js"></script>
    <script src="/static/assets/js/hs.cubeportfolio.js"></script>
    <script src="/static/assets/js/hs.slick-carousel.js"></script>
    <script src="/static/assets/js/hs.fancybox.js"></script>

    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            // initialization of header
            var header = new HSHeader($('#header')).init();

            // initialization of mega menu
            var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
                desktop: {
                    position: 'left'
                }
            }).init();

            // initialization of fancybox
            $('.js-fancybox').each(function () {
              var fancybox = $.HSCore.components.HSFancyBox.init($(this));
            });

            // initialization of scroll nav
            $('.js-scroll-nav').each(function () {
                var scrollNav = new HSScrollNav($(this)).init();
            });

            // initialization of unfold
            var unfold = new HSUnfold('.js-hs-unfold-invoker').init();

            // initialization of slick carousel
            $('.js-slick-carousel').each(function() {
                var slickCarousel = $.HSCore.components.HSSlickCarousel.init($(this));
            });

            // initialization of form validation
            $('.js-validate').each(function() {
                $.HSCore.components.HSValidation.init($(this), {
                    rules: {
                        confirmPassword: {
                            equalTo: '#signupPassword'
                        }
                    }
                });
            });

            // initialization of show animations
            $('.js-animation-link').each(function () {
                var showAnimation = new HSShowAnimation($(this)).init();
            });

            // initialization of counter
            $('.js-counter').each(function() {
                var counter = new HSCounter($(this)).init();
            });

            // initialization of sticky block
            var cbpStickyFilter = new HSStickyBlock($('#cbpStickyFilter'));

            // initialization of cubeportfolio
            $('.cbp').each(function () {
                var cbp = $.HSCore.components.HSCubeportfolio.init($(this), {
                    layoutMode: 'grid',
                    filters: '#filterControls',
                    displayTypeSpeed: 0
                });
            });

            $('.cbp').on('initComplete.cbp', function() {
                // update sticky block
                cbpStickyFilter.update();

                // initialization of aos
                AOS.init({
                    duration: 650,
                    once: true
                });
            });

            $('.cbp').on('filterComplete.cbp', function() {
                // update sticky block
                cbpStickyFilter.update();

                // initialization of aos
                AOS.init({
                    duration: 650,
                    once: true
                });
            });

            $('.cbp').on('pluginResize.cbp', function() {
                // update sticky block
                cbpStickyFilter.update();
            });

            // animated scroll to cbp container
            $('#cbpStickyFilter').on('click', '.cbp-filter-item', function (e) {
                $('html, body').stop().animate({
                    scrollTop: $('#demoExamplesSection').offset().top
                }, 200);
            });

            // initialization of go to
            $('.js-go-to').each(function () {
                var goTo = new HSGoTo($(this)).init();
            });
        });
    </script>
        <!-- IE Support -->
    <script>
        if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="/static/assets/vendor/polifills.js"><\/script>');
    </script>
</body>
</html>